# Capstone code

In [68]:
%matplotlib inline

import psycopg2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from auth_js import connection_string_js

In [4]:
# This script includes a function to query the database and return the list of table names,
# as well  a second function that accepts table name and number of rows as arguments 
# and prints a summary of the head of each table.

#Connect to rds
try:
    conn = psycopg2.connect(connection_string_js)
except:
    print ("\n_________CONNECTION FAILURE_________\n")
cur = conn.cursor()

#This function prints the names of the tables 
def table_lister ():
    cur.execute("""SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'""")
    rows = cur.fetchall()
    for row in rows:
        print (row[0])

#This function prints columns and top rows from table, it accepts table name and number of rows as arguments.
def head_generator (table, limit):
    cur.execute("""SELECT * FROM %s LIMIT %s""" % (table, limit))
    col_names = [cn[0] for cn in cur.description]
    rows = cur.fetchall()
    print (table)
    print (col_names)
    for row in rows:
        print (row)
    print ('\n')
    
#disconnect from DB
def disconnect():
    cur.close()
    conn.close()

if __name__ == '__main__':
    #table_lister()
    head_generator('flows',5)
    head_generator('redteam',5)
    head_generator('dns',5)
    head_generator('proc',5)
    head_generator('auth',5)
    disconnect()

flows
['id', 'tstamp', 'duration', 'srccomputer', 'srcport', 'dstcomputer', 'dstport', 'protocol', 'packetcnt', 'bytecnt', 'redteam']
(1, 1, 0, 'C1065', '389', 'C3799', 'N10451', '6', '10', '5323', None)
(2, 1, 0, 'C1423', 'N1136', 'C1707', 'N1', '6', '5', '847', None)
(3, 1, 0, 'C1423', 'N1142', 'C1707', 'N1', '6', '5', '847', None)
(4, 1, 0, 'C14909', 'N8191', 'C5720', '2049', '6', '1', '52', None)
(5, 1, 0, 'C14909', 'N8192', 'C5720', '2049', '6', '1', '52', None)


redteam
['id', 'tstamp', 'userdomain', 'src', 'dst', 'usr', 'domain', 'redteam']
(261, '768556', 'U66@DOM1', 'C17693', 'C306', 'U66', 'DOM1', None)
(79, '736582', 'U2837@DOM1', 'C17693', 'C89', 'U2837', 'DOM1', None)
(80, '736894', 'U2837@DOM1', 'C17693', 'C1484', 'U2837', 'DOM1', None)
(81, '736936', 'U2837@DOM1', 'C17693', 'C8490', 'U2837', 'DOM1', None)
(82, '737011', 'U349@DOM1', 'C17693', 'C3601', 'U349', 'DOM1', None)


dns
['id', 'tstamp', 'srccomputer', 'computerresolved', 'redteam']
(130625, 195647, 'C16073', 'C529', None)
(130626, 195648, 'C16073', 'C457', None)
(130627, 195648, 'C657', 'C1707', None)
(130628, 195650, 'C16073', 'C457', None)
(130629, 195651, 'C16073', 'C528', None)


proc
['id', 'tstamp', 'compdomain', 'computer', 'processname', 'startend', 'comp', 'domain', 'redteam', 'session']
(206520845, 2622907, 'U92@DOM1', 'C730', 'P53', 'End', 'U92', 'DOM1', None, None)
(206520957, 2622909, 'C1$@DOM1', 'C1', 'P25', 'End', 'C1', 'DOM1', None, None)
(206521629, 2622913, 'U32@DOM1', 'C815', 'P28', 'End', 'U32', 'DOM1', None, None)
(206523512, 2622928, 'C44$@DOM1', 'C44', 'P16', 'End', 'C44', 'DOM1', None, None)
(206523865, 2622931, 'C92$@DOM1', 'C92', 'P16', 'End', 'C92', 'DOM1', None, None)


auth
['id', 'tstamp', 'srcuserdomain', 'dstuserdomain', 'srccomputer', 'dstcomputer', 'authtype', 'logontype', 'authorient', 'passfail', 'srcusr', 'srcdomain', 'dstusr', 'dstdomain', 'redteam']
(160333548, 815239, 'C6196$@DOM1', 'C6196$@DOM1', 'C6196', 'C706', 'Kerberos', 'Network', 'LogOn', 'Success', 'C6196', 'DOM1', 'C6196', 'DOM1', None)
(160333549, 815239, 'C6196$@DOM1', 'C6196$@DOM1', 'C706', 'C706', '?', 'Network', 'LogOff', 'Success', 'C6196', 'DOM1', 'C6196', 'DOM1', None)
(160333550, 815239, 'C6207$@DOM1', 'C6207$@DOM1', 'C706', 'C706', '?', 'Network', 'LogOff', 'Success', 'C6207', 'DOM1', 'C6207', 'DOM1', None)
(160333551, 815239, 'C623$@DOM1', 'C623$@DOM1', 'C467', 'C467', '?', 'Network', 'LogOff', 'Success', 'C623', 'DOM1', 'C623', 'DOM1', None)
(160333552, 815239, 'C6290$@DOM1', 'C6290$@DOM1', 'C6290', 'C467', '?', '?', 'TGS', 'Success', 'C6290', 'DOM1', 'C6290', 'DOM1', None)

In [27]:
#Connect to rds
try:
    conn = psycopg2.connect(connection_string_js)
except:
    print ("\n_________CONNECTION FAILURE_________\n")
cur = conn.cursor()

#Write up query in second line of this function. 
query_return_holder = []
def query_launcher (query):
    cur.execute("""%s""" % query)
    rows = cur.fetchall()
    for i in rows:
        query_return_holder.append(i)
    
#disconnect from DB
def disconnect():
    cur.close()
    conn.close()

if __name__ == '__main__':
    query_launcher("""SELECT * FROM redteam""")
    #disconnect()

In [28]:
df = pd.DataFrame(query_return_holder)
df.columns = ['id', 'tstamp', 'userdomain', 'src', 'dst', 'usr', 'domain', 'redteam']
df.to_csv(path_or_buf='redteam.txt',delimiter=',')
df.head(100)

    id  tstamp  userdomain     src    dst    usr domain redteam
0  261  768556    U66@DOM1  C17693   C306    U66   DOM1    None
1   79  736582  U2837@DOM1  C17693    C89  U2837   DOM1    None
2   80  736894  U2837@DOM1  C17693  C1484  U2837   DOM1    None
3   81  736936  U2837@DOM1  C17693  C8490  U2837   DOM1    None
4   82  737011   U349@DOM1  C17693  C3601   U349   DOM1    None

In [33]:
#df.head(200)

In [36]:
df.tstamp.describe()

count         749
unique        712
top       1233528
freq           12
Name: tstamp, dtype: object

In [45]:
day_number = []
start_time = 1
day_label = 1
for i in range (60):
    end_time = start_time + 86399 #number of seconds in 24 hours
    i = [day_label,start_time,end_time]
    day_number.append(i)
    start_time = end_time + 1
    day_label = day_label + 1
for i in day_number:
    print (i)

[1, 1, 86400]
[2, 86401, 172800]
[3, 172801, 259200]
[4, 259201, 345600]
[5, 345601, 432000]
[6, 432001, 518400]
[7, 518401, 604800]
[8, 604801, 691200]
[9, 691201, 777600]
[10, 777601, 864000]
[11, 864001, 950400]
[12, 950401, 1036800]
[13, 1036801, 1123200]
[14, 1123201, 1209600]
[15, 1209601, 1296000]
[16, 1296001, 1382400]
[17, 1382401, 1468800]
[18, 1468801, 1555200]
[19, 1555201, 1641600]
[20, 1641601, 1728000]
[21, 1728001, 1814400]
[22, 1814401, 1900800]
[23, 1900801, 1987200]
[24, 1987201, 2073600]
[25, 2073601, 2160000]
[26, 2160001, 2246400]
[27, 2246401, 2332800]
[28, 2332801, 2419200]
[29, 2419201, 2505600]
[30, 2505601, 2592000]
[31, 2592001, 2678400]
[32, 2678401, 2764800]
[33, 2764801, 2851200]
[34, 2851201, 2937600]
[35, 2937601, 3024000]
[36, 3024001, 3110400]
[37, 3110401, 3196800]
[38, 3196801, 3283200]
[39, 3283201, 3369600]
[40, 3369601, 3456000]
[41, 3456001, 3542400]
[42, 3542401, 3628800]
[43, 3628801, 3715200]
[44, 3715201, 3801600]
[45, 3801601, 3888000]
[46, 3888001, 3974400]
[47, 3974401, 4060800]
[48, 4060801, 4147200]
[49, 4147201, 4233600]
[50, 4233601, 4320000]
[51, 4320001, 4406400]
[52, 4406401, 4492800]
[53, 4492801, 4579200]
[54, 4579201, 4665600]
[55, 4665601, 4752000]
[56, 4752001, 4838400]
[57, 4838401, 4924800]
[58, 4924801, 5011200]
[59, 5011201, 5097600]
[60, 5097601, 5184000]

In [58]:
day_updater = df.values.tolist()
for i in day_updater[0:5]:
    print (i)

[79, '736582', 'U2837@DOM1', 'C17693', 'C89', 'U2837', 'DOM1', None]
[80, '736894', 'U2837@DOM1', 'C17693', 'C1484', 'U2837', 'DOM1', None]
[81, '736936', 'U2837@DOM1', 'C17693', 'C8490', 'U2837', 'DOM1', None]
[82, '737011', 'U349@DOM1', 'C17693', 'C3601', 'U349', 'DOM1', None]

In [75]:
for i in day_updater[0:5]:
    print (i)

[261, '768556', 'U66@DOM1', 'C17693', 'C306', 'U66', 'DOM1', None]
[79, '736582', 'U2837@DOM1', 'C17693', 'C89', 'U2837', 'DOM1', None]
[80, '736894', 'U2837@DOM1', 'C17693', 'C1484', 'U2837', 'DOM1', None]
[81, '736936', 'U2837@DOM1', 'C17693', 'C8490', 'U2837', 'DOM1', None]
[82, '737011', 'U349@DOM1', 'C17693', 'C3601', 'U349', 'DOM1', None]

In [63]:
day_series = []

for x in range(749):
    for y in range(60):
        if int(day_updater[x][1]) > day_number[y][1] and int(day_updater[x][1]) < day_number[y][2]:
            day_series.append(day_number[y][0])
print (day_series)

[9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 13, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 8, 9, 15, 15, 15, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 22, 23, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 28, 28, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 14, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 21, 22, 22, 22, 6, 6, 6, 14, 28, 28, 28, 28, 28, 28, 28, 29, 29, 29, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30]

In [76]:
day_series = np.array(day_series)
day_series = pd.Series(day_series)
df['day'] = day_series
df.to_csv(path_or_buf='redteam.txt',delimiter=',')
df.head()

    id  tstamp  userdomain     src    dst    usr domain redteam  day
0  261  768556    U66@DOM1  C17693   C306    U66   DOM1    None    9
1   79  736582  U2837@DOM1  C17693    C89  U2837   DOM1    None    9
2   80  736894  U2837@DOM1  C17693  C1484  U2837   DOM1    None    9
3   81  736936  U2837@DOM1  C17693  C8490  U2837   DOM1    None    9
4   82  737011   U349@DOM1  C17693  C3601   U349   DOM1    None    9

In [78]:
df['day'].mode()

0    9
dtype: int64